body {
	font-family: "Open Sans", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    position: sticky;
} 

li {
	right: 150px;
}

#logo {
	position: relative;
	height: 50px;
	width: 150px;
	float: left;
	margin: 1rem 10rem;
}

.nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 2rem;
	padding-left: 0.1px;
	position: relative;
	display: inline;
	float: left;
	font-weight: bold;
	font-size: 20px;
	background-position: top;
	top: 10px;
}


.right-nav {
	position: relative;
	display: inline-block;
	float: right;
}

#bg-image {
	min-height: 50vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	background-color: black; 
}

.front-bg {
	min-height: 50vh;
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	position: relative;
	float: right;
	text-align: right;
}

.title {
	position: relative;
	color: white;
	text-align: right;
	font-size: 3em;
	padding-left: 60rem;
	padding-right: 12rem;
	line-height: 4rem;
}

.subtitle {
	position: relative;
	color: white;
	text-align: right;
	font-size: 25px;
	margin: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 75rem;
	padding-right: 12rem;
	line-height: 2rem;
}

.tuitt-button {
	position: relative;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding: 1rem;
	right: 10px;
	bottom: 10px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding: 1rem 4rem;
	margin-left: 75rem;
	margin-right: 12rem;
}

.title-2 {
	padding: 4rem;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.intro-description {
	padding-left: 20rem;
	padding-right: 18rem;
	padding-bottom: 5rem;
	text-align: justify;
	font-size: 20px;

}

.pre-footer {
	background-color: #f7fbfb;
	background-position: center;
	text-align: center;
}

.title-2 {
	padding: 5rem;
	font-weight: bold;
}

.prefooter-description {
	padding-left: 20rem;
	padding-right: 18rem;
	text-align: center;
	font-size: 20px;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 1rem;
	border-radius: 25px;
	border: none;
	padding: 1rem 4rem;
	margin: 1rem;
}

footer {
	text-align: center;
	padding: 1rem;
}